<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Thesellix.site - Hizmetler </title>


  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />


  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

  <link href="css/font-awesome.min.css" rel="stylesheet" />


  <link href="css/style.css" rel="stylesheet" />

  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="https://media.discordapp.net/attachments/913413003007918141/1059888009346039828/rberberberberb.png?width=670&height=670" alt="">
    </div>

    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="https://www.thesellix.site">
            <span>
              Thesellix.site
            </span>
          </a>

            </div>
          </div>
        </nav>
      </div>
    </header>

  </div>


  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h5 style="color: white;">
          <font size="5">Merhaba, Thesellix'e Hoşgeldin!</font>
        </h5>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">Botlar</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #1B2A47;">
                  <img src="https://cdn.discordapp.com/emojis/1059918021398892564.webp?size=96&quality=lossless" alt="">
                </div>
                <div class="detail-box">
                  <h5 style="margin-left: 130px;">
                    Ekip
                  </h5>
                  <br>
                  <p>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Kayıt Sistemleri <br>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Güvenlik Sistemleri <br>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Stat Sistemleri <br>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Moderasyon Sistemleri <br>
                   <br><br><br><br><br>
                  <img src="https://cdn.discordapp.com/emojis/1059915863882465341.webp?size=96&quality=lossless" style="width: 50px; margin-left: 120px;"></img> <br> <p style="margin-left: 75px; color: red;">Web Bulunmamakta!</p>
                  </p>
                  <div class="options">
                    <h6>
                      150,00₺ / ay
                    </h6>
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #1B2A47;">
                  <img src="https://cdn.discordapp.com/emojis/1059918022816567327.webp?size=96&quality=lossless" alt="">
                </div>
                <div class="detail-box">
                  <h5 style="margin-left: 95px;">
                    Setup Public
                  </h5>
                  <br>
                  <p>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Kayıt Sistemleri <br>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Güvenlik Sistemleri <br>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Stat Sistemleri <br>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Moderasyon Sistemleri <br>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Setup Sistemleri <br>
                   <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Otomatik Yetki Yükseltme Sistemleri
                   <br><br><br><br>
                  <img src="https://cdn.discordapp.com/emojis/1059915863882465341.webp?size=96&quality=lossless" style="width: 50px; margin-left: 120px;"></img> <br> <p style="margin-left: 75px; color: red;">Web Bulunmamakta!</p>
                  </p>
                  
                  <div class="options">
                    <h6>
                      300,00₺ / ay
                    </h6>
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #1B2A47;">
                  <img src="https://cdn.discordapp.com/emojis/1059918024318144603.webp?size=96&quality=lossless" alt="">
                </div>
                <div class="detail-box">
                  <h5 style="margin-left: 95px;">
                    Classic Web
                  </h5>
                  <br>
                  <p>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Kayıt Sistemleri <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Güvenlik Sistemleri <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Stat Sistemleri <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Genel Moderasyon Sistemleri <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Kişileştirilebilen Panel <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Web Kontrol <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Canlı Cezalandırma Takip <br><br>
                  </p>
                  <img src="https://cdn.discordapp.com/attachments/913413003007918141/1059921181689532456/9434-lightblue-verification.gif" style="width: 50px; margin-left: 120px;"></img> <br><br> <p style="margin-left: 70px;">Classic Bulunmakta!</p>
                  <div class="options">
                    <h6>
                      400,00₺ / ay
                    </h6>
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #1B2A47;">
                  <img src="https://cdn.discordapp.com/emojis/1059915862548688936.webp?size=96&quality=lossless" alt="">
                </div>
                <div class="detail-box">
                  <h5 style="margin-left: 95px;">
                    Thesellix.site
                  </h5>
                  <br>
                  <p>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Tüm Paketler <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Bire Bir İletişim <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Müşteriye İndirim Kuponu <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Database Kontrolü <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Web Bayilik Yönetimi <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Canlı Cezalandırma Takip <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> 7/24 Whatsapp İletişim <br>
                  </p><br><br>
                   <img src="https://cdn.discordapp.com/attachments/913413003007918141/1059921181689532456/9434-lightblue-verification.gif" style="width: 50px; margin-left: 120px;"></img> <br><br> <p style="margin-left: 70px;">Bayilik Bulunmakta!</p>
                  <div class="options">
                    <h6>
                      500,00₺ / ay
                    </h6>
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all fries">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #1B2A47;">
                  <img src="https://cdn.discordapp.com/emojis/1059918008799219823.webp?size=96&quality=lossless" alt="">
                </div>
                <div class="detail-box">
                  <h5 style="margin-left: 95px;">
                    Thesellix.site
                  </h5>
                  <br>
                  <p>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Tüm Paketler <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Bire Bir İletişim <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Müşteriye İndirim Kuponu <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Database Kontrolü <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Web Bayilik Yönetimi <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Canlı Cezalandırma Takip <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> 7/24 Whatsapp İletişim <br>
                  </p><br><br>
                   <img src="https://cdn.discordapp.com/attachments/913413003007918141/1059921181689532456/9434-lightblue-verification.gif" style="width: 50px; margin-left: 120px;"></img> <br><br> <p style="margin-left: 70px;">Bayilik Bulunmakta!</p>
                  <div class="options">
                    <h6>
                      1000,00₺ / 3 Ay
                    </h6>
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #1B2A47;">
                  <img src="https://cdn.discordapp.com/emojis/1059918010258833520.webp?size=96&quality=lossless" alt="">
                </div>
                <div class="detail-box">
                  <h5 style="margin-left: 95px;">
                    Thesellix.site
                  </h5>
                  <br>
                  <p>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Tüm Paketler <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Bire Bir İletişim <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Müşteriye İndirim Kuponu <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Database Kontrolü <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Web Bayilik Yönetimi <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> Canlı Cezalandırma Takip <br>
                    <img src="https://cdn.discordapp.com/emojis/1059504963908284426.webp?size=96&quality=lossless" style="width: 16px;"></img> 7/24 Whatsapp İletişim <br>
                  </p><br><br>
                   <img src="https://cdn.discordapp.com/attachments/913413003007918141/1059921181689532456/9434-lightblue-verification.gif" style="width: 50px; margin-left: 120px;"></img> <br><br> <p style="margin-left: 70px;">Bayilik Bulunmakta!</p>
                  <div class="options">
                    <h6>
                      2500,00₺ / 6 Ay
                    </h6>
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
  </section>

<!--  
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact"> 
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
        </div>
      </div>
      <div class="footer-info">
        <p>
             <span id="displayYear"></span> Copyright © Developed by
          <a href="https://themewagon.com/" target="_blank">elchâvo.py#1000</a>
        </p>
      </div>
    </div>
  </footer>
  -->

  
  <script src="js/jquery-3.4.1.min.js"></script>
 
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
 
  <script src="js/bootstrap.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
 
  <script src="js/custom.js"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
 

</body>

</html>
